*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Weather';
    src: url(./weather-font.ttf);
}

body{
    font-family: 'Weather';
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(106,252,246);
    background: linear-gradient(29deg, rgba(106,252,246,1) 0%, rgba(187,251,255,1) 50%, rgba(20,148,232,1) 100%);
}

h1, #weather-box, #city-input{
    margin-bottom: 1.5rem;
}
div input#city-input{
    height: 2.5rem;   
    width: 12rem;
    outline-style: hidden;
    outline-width: 2px;
    border-radius: 0.4em;
    border: none;
    padding: 0.5rem;
    color: rgb(59, 59, 59);
}

#weather-button{
    border-radius: 0.4em;
    margin-bottom: 4.5rem;
    height: 2em;
    width: 7em;
    border: none;
    cursor: pointer;
 }
#weather-box{
    padding: 3rem 0.2rem;
    background-color: #2fafcf;
    height: 37rem;
    width: 35rem;
    border-radius: 1rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

 #weather-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15rem;
 }

 .sub-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
 }
 #box-2{
    padding: 2rem 0.5rem;
    line-height: 2.5em;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

 #weather-icon{
    min-width: 12rem;
 }

 .infos{
    display: flex;
    flex-direction: row;
 }