*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Weather';
    src: url(./weather-font.ttf);
}

body{
    font-family: 'Weather';
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6afcf6;
    background: linear-gradient(29deg, #6afcf6 0%, #bbfbff 50%, #1494e8 100%);
}

h1, #weather-box, #city-input{
    margin-bottom: 1.5rem;
}
div input#city-input{
    height: 2.5rem;   
    width: 12rem;
    outline-style: hidden;
    outline-width: 3.5px;
    border-radius: 0.4em;
    border: none;
    padding: 0.5rem;
    color: #3b3b3b;
}

#weather-button{
    border-radius: 0.4em;
    margin-bottom: 4.5rem;
    height: 2.5rem;   
    width: 10rem;
    border: none;
    cursor: pointer;
    background-color: #f77300;
    color: #ffffff;
   font-family: 'Weather';
 }
#weather-box{
    padding: 3rem 0.2rem;
    background-color: #2fafcf;
    height: 37rem;
    width: 35rem;
    border-radius: 1rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

 #weather-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15rem;
 }

 .sub-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
 }
 #box-2{
    padding: 2rem 0.5rem;
    line-height: 2.5em;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
 }

 #weather-icon{
    min-width: 12rem;
 }

 .infos{
    display: flex;
    flex-direction: row;
 }

 
 .data-sec{
    display: flex;
    flex-direction: column;
    width: 100%;
 }

 #data-sec1{width: 60%;}
 #data-sec2{width: 40%;}
 .info-data{
   color: #565656;
   font-size: 1rem;
 }